
body {
    padding-top: 6%;
    background-image: url('../images/flowering.jpg');
    text-align: center;
    background-repeat: false;
    background-size: cover;
    
}

#reg {
    display: none;
    background-color: white;
    padding: 10px;
    height: 700px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: .7;
}

#login {
    display: none;
    background-color: white;
    padding: 10px;
    height: 700px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: .7;
}